@{
    ViewData["Title"] = "Home Page";
}
@*<style>
    .input-group {
        position: relative;
        display: flex;
    }

    .fa-search {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        pointer-events: none; /* This line is important to ensure the icon doesn't interfere with input */
    }

    /* Add any additional styles you want for the input field here */
    .form-control {
        width: 400px;
    }
</style>*@

<br />
<div class="col-md-1"></div>
<div class=" col-md-8">
    <form>
       @* <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-icon" id="searchInput" style="border-radius:20px">
            <i class="fa fa-search"></i>
        </div>*@
    </form>
</div>
<div class="col-md-3">
</div>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
