@model Sec_Forum.Models.TblUserMaster
@{
    ViewData["Title"] = "Edit";
}


<link href='https://unpkg.com/css.gg@2.0.0/icons/css/chevron-right.css' rel='stylesheet'>



<br />
<h5><i class="fa fa-chevron-left"></i>&nbsp;S.E.C Profile <i class="fa fa-chevron-left"></i> Secretary </h5>
<br />
<div class="row">
    <div class="col-md-12">
        <h5>Current Secretary</h5>
        <div class="card" style="background-color:#F5F5F5;">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">

                        <img src="@Model.ProfileImage" style="height:200px;width:200px" />
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-7">
                        <form asp-action="EditSecretory" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Designation" class="control-label"></label>
                                <input asp-for="Designation" class="form-control" />
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="control-label"></label>
                                <input asp-for="DateOfBirth" class="form-control" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EducationalQualification" class="control-label"></label>
                                <input asp-for="EducationalQualification" class="form-control" />
                                <span asp-validation-for="EducationalQualification" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Languages" class="control-label"></label>
                                <input asp-for="Languages" class="form-control" />
                                <span asp-validation-for="Languages" class="text-danger"></span>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>

    &nbsp&nbsp&nbsp<h5>Historical Summary: Past State Secretory</h5>

    &nbsp&nbsp&nbsp<div class="card" style="width:950px">
        <div class="col-md-12">
            <form>

                <div class="row">


                    <div class="card-body">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Name"><b> Name</b></label><br>
                                    <span id="name">@Html.DisplayFor(modelItem => Model.Name)</span><br>
                                </div>
                                <div class="col-md-3">
                                    <label for="From Date"><b>From Date </b></label><br>
                                    <span id="fromdate">@Html.DisplayFor(modelItem => Model.FromDate)</span><br>
                                </div>

                                <div class="col-md-3">
                                    <label for="To Date"><b>To Date</b></label><br>
                                    <span id="todate">@Html.DisplayFor(modelItem => Model.ToDate)</span>
                                </div>
                            </div>
                            <br>
                        </div>

                    </div>
                    <br /><br /><br>

                    <br />

                    <br />
                </div>
            </form>
        </div>
    </div>
</div>

@*@section Scripts {
    <script>
        function previewFile() {
            var preview = document.getElementById('preview');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>*@
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}